/* Tailwindcss */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "Barlow Condensed";
  src: url("src/assets/fonts/BarlowCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bellefair";
  src: url("src/assets/fonts/Bellefair-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navlink {
  @apply font-barlow text-nav-mobile lg:text-nav-desktop  tracking-[2.7px] text-white;
}

p {
  @apply font-barlow text-sm md:text-md xl:text-xl;
}
